@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

/* body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
} */

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

* {
  box-sizing: border-box;
}

body {
  position: relative;
  min-height: 100%;
  margin: 0 auto;
  font-size: 15px;
  line-height: 1.231;
  /* background: #ffffff; */
  font-family: "Lato", "Segoe UI", "Lucida Grande", Arial, sans-serif;
  /* color: #000; */
}

#root {
  align-items: center;
  min-height: 100vh;
  position: relative;
  /* border-right: 1px solid #3b3b3b;
  border-left: 1px solid #3b3b3b; */
  border-bottom: 1px solid #3b3b3b;
  /* max-width: 100em; */
}
div {
  display: block;
}

div#nav {
  display: block;
  cursor: default;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 500;
  padding-bottom: 50px;
}

.nav-divider {
  width: 1px;
  vertical-align: middle;
  padding-left: 3px;
  display: inline-block;
  height: 30px;
  margin-right: 1px;
  border-right: 3px solid rgba(255, 255, 255, 0.15);
}

div#nav ul {
  display: inline-table;
  display: inline-table;
  background-color: #000000;
  border-radius: 10px;
  float: left;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;

  margin: 0 0 0 -5px;
}

/* div# */

a {
  display: inline;
}

div#nav ul li a,
div ul li button {
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  padding: 13px 7px;
  display: inline-table;
}
div#nav ul li {
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  font-family: "Lato", sans-serif;
}

div ul {
  margin: 0 0 0 -5px;
  padding: 0 0 0 1%;
  display: block;
}

#page-container {
  /* display: flex; */
  min-height: 120vh;
  position: relative;
  margin: 0 auto;
  /* border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc; */
  /* background: rgb(255, 255, 255); */
  /* max-width: 100em; */
}

@media (max-width: 1498px) {
  #page-container {
    border-left: none;
    border-right: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.content-body {
  /* min-height: 145em; */
  /* text-align: center; */
  padding-bottom: 4em;
}

/* .signupcontainer {
  /* display: inline-block;
  text-align: initial;
  max-width: 100%;
  width: 450px; */
/* } */
#content {
  margin: 0px auto auto;
  /* margin-top: 0px;
  margin: ; */
  width: 90%;
  height: 100%;
  min-height: 25em;
  display: block;
}

.loginform {
  display: inline-block;
  /* background: #f8f8f8; */
  padding: 5px 10px 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  text-align: left;
  width: 300px;
}

.submit {
  color: white !important;
  text-decoration: none !important;
  cursor: pointer;
  /* vertical-align: middle; */
  white-space: nowrap;
  font-weight: 400;
  line-height: 1.4;
  background: linear-gradient(to bottom, #ff9797 0, #a76262 100%) repeat-x;
  border-radius: 4px;
  /* padding: 6px 12px; */
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
  display: block;
  border: 0;
  text-align: center;
  font-size: 15px;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  border-left: 5px solid #ff9797;
  display: block;
  position: fixed;
  background-color: #000000;
  min-width: 100px;
  max-width: 100px;
  text-align: center;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: rgb(255, 175, 175);
  padding: 12px 10px;
  text-decoration: none;
  display: inline-block;
  text-align: center;
}

li a,
.dropbtn {
  display: inline-block;
  /* color: white; */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.userlink-divider {
  width: 1px;
  vertical-align: baseline;
  padding-left: 3px;
  display: inline-block;
  height: 30px;
  margin-right: 1px;
  border-right: 3px solid rgba(255, 255, 255, 0.15);
}

.content-float {
  display: inline-block;
  text-align: initial;
  min-height: 600px;
  max-width: 100%;
  width: 450px;
}

.container {
  text-align: center;
  padding-bottom: 4em;
}

hr#stm {
  display: block;
  height: 2px;
  border: 0;
  font-style: italic;
  border-bottom: 0.1cap solid #ccc;
  padding: 5px;
}

hr#more {
  border-top: 0.1cap solid #ccc;
  display: block;
  height: 5px;
}

a#rmb {
  /* position: absolute; */
  bottom: 3em;
}

a#or {
  /* -webkit-text-fill-color: #ccc; */
  font-size: 10px;
  height: 44.43px;
  bottom: -10px;
}

input[type="checkbox"] {
  width: 12px;
  height: 12px;
  border-radius: 0.15em;
  margin-right: 0.2em;
  border: 0.15em solid #007a7e;
  outline: none;
  cursor: pointer;
}

input:checked {
  background-color: #007a7e;
  position: relative;
}

input:checked::before {
  /* content: ""; */
  font-size: 12px;
  /* color: #fff; */
  position: absolute;
  right: -0.2em;
  top: -0.1em;
}

.Form {
  padding: 4px 8px;
  /* color: #1e1e1e; */
  /* background: #fff none; */
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  box-sizing: border-box;
  font-size: 15px;
}

.Header {
  display: block;
  /* color: #555; */
  font-size: 1.1em;
  font-weight: 600;
  padding-bottom: 0.5em;
  padding-left: 2px;
  margin-top: 0.75em;
}

#users {
  /* border-top: 1px solid #dddddd; */
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
}

/* input[type="text"] {
  border: 1px solid #dddddd;
} */

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="url"] {
  padding: 4px 8px;
  color: #1e1e1e;
  background: #fff none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  box-sizing: border-box;
  font-size: 15px;
}

.tabs {
  border-bottom: 1px solid #3b3b3b;
  margin: 0 0 8px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer {
  text-align: center;
  height: 40px;
  /* border-top: 1px solid #3b3b3b; */
  /* background: #181818; */

  color: #808080;
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
}

div div p {
  /* margin: 1em 0 !important; */
  padding: 0 !important;
}

div div h4 {
  font-size: 1.4em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  line-height: 1.225;
  padding-bottom: 0.3em;
  padding-top: 0.5em;
}

/* .table {
  border-spacing: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5em;
  background: rgba(248, 248, 248, 0.01);

  backdrop-filter: blur(3px);
}

tbody tr {
  display: table-row-group;
  vertical-align: middle;
  unicode-bidi: isolate;
  border-color: inherit;
} */

.fa-user:before {
  content: "\f007";
}

.fa-key:before {
  content: "\f084";
}

table {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  unicode-bidi: isolate;
  border-spacing: 2px;
  border-color: gray;
}

.navigator {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: row-reverse;
  /* width: 200px; */
  height: 150px;
  margin: 0 auto;
  line-height: 100px;
}

.nav-center {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 50px;
  border: 2px solid;
  height: 50px;
  width: 50px;
  margin-top: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: all 1s;
  /* padding: 50px; */
}

.nav-circle {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);

  margin-top: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 2px solid;
  transition: all 1s;
  /* margin: -50px; */
}

.flipper .login{
transform: rotateY(180deg);
}

.flipper .sigup{
transform: rotateY(0deg);
}

.blogs {
  border: 1px solid;
  border-radius: 10px;
  padding-left: 5px;
  margin-bottom: 15px;  
}

